html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

/* Este contenedor debe envolver TODO tu contenido */
#Pagina {
  will-change: transform;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  opacity: 0;



  height: 100vh;  /* recomendable para que tome toda la pantalla */
  background: linear-gradient(270deg, #050510, #101030, #050510);
  background-size: 600% 600%;
  animation: fondoGradiente 30s ease infinite;
  transition: opacity 0.5s ease-in;
}
@keyframes fondoGradiente {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
body.fade-in {
  opacity: 1;
}

body.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
}





#Pagina {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#Titulo,
#Bienvenida {
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

#Entradas_Registrado {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 500px;
}

#Usuario,
#Contraseña {
  background-color: #050510;
  border: 3px solid #808090;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

#Usuario::placeholder,
#Contraseña::placeholder {
  color: white;
}

#Usuario:focus,
#Contraseña:focus {
  color: white;
  transform: scale(1.1, 1.1);
}

#BSesion {
  background-color: #050510;
  border: 3px solid #808090;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  display: flex;
  margin: 0 auto;
  width: 50%;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

#BSesion:hover,
#BSesion:focus {
  transform: scale(1.2, 1.2);
  background-color: #101020;
}


#GatoIMG{
  display: flex;
  align-items: center;
  opacity: 0;
  width: 20vw;
  transition: opacity 1s ease-in;
  margin-bottom: 50px;
}

#GatoIMG.entrada{
  opacity: 1;
}


#Texto{
  color: white;
  text-align: center;
  width: 50%;
  font-size: 50px;

}